body {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/08/05/20/adventure-1807524_960_720.jpg");
}

header {
  background-color: rgb(66, 54, 54);
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  color: gold;
  font-size:x-large;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif
  
  
}

.activity-box {
  height: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.outdoor {
  height: 45vh;
  width: 30%;
  border-style: solid;
  border-color: black;
  background-color: white;
}

.planner {
  height: 20vh;
  display:  flex;
  justify-content: center;
  border-style: solid;
  border-color: black;
  background-color: whitesmoke;
}

.indoor {
  height: 45vh;
  width: 30%;
  border-style: solid;
  border-color: black;
  background-color: white;
}

/* .text-box {
  width: 100px;
  height: 30px;
  border: 1px solid red;
} */

h2 {
  position: absolute;
  top: 80px;
}